package layouts

templ Meta() {
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link rel="icon" href="/public/favicon.png" sizes="any"/>
	<link rel="icon" href="/public/favicon.svg" type="image/svg+xml"/>
	<link rel="stylesheet" href="/public/css/main.css"/>
	<title>Go Templ Boilerplate</title>
}
