package views

import "barrytime/go_templ_boilerplate/internal/views/layout"
import "barrytime/go_templ_boilerplate/internal/config"

templ Home(env config.Env) {
	@layouts.Base(env) {
		<h1 class="text-2xl font-semibold">Home Page</h1>
	}
}
